.every-question {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 40px 0px #cbd2d9;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 85vw;
}

.each-details {
  display: flex;
}
.question {
  font-size: 20px;
}
.arrow {
  width: 12px;
  height: 10px;
}
.lang-para {
  padding: 6px;
  border-radius: 8px;
  margin-right: 20px;
  font-weight: bold;
  font-family: Roboto;
  font-size: 12px;
}
.level-para {
  padding: 6px;
  border-radius: 8px;
  margin-right: 20px;
  font-weight: bold;
  font-family: Roboto;
  font-size: 12px;
}
.para {
  align-self: center;
}
.EASY {
  color: #16a34a;
  background-color: #16a34a16;
}
.MEDIUM {
  color: #d97706;
  background-color: #d9770616;
}
.HARD {
  color: #dc2626;
  background-color: #dc262616;
}
.HTML {
  color: #0284c7;
  background-color: #0284c716;
}
.CSS {
  color: #9333ea;
  background-color: #9333ea16;
}
.JAVASCRIPT {
  color: #db2777;
  background-color: #db277716;
}
.show-hide {
  display: flex;
  background-color: white;
  color: #9aa5b1;
  border: 1px solid #7b8794;
  border-radius: 3px;
  width: 70px;
  height: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
